.Bird {
    z-index: 3;

    img {
        cursor: pointer;
    }

    &_text {
        font-size: 3vh;
        color: #fff;
        font-weight: 900;
        opacity: 0;

        &_show {
            opacity: 1;
        }
    }
}