.Bridge {
    z-index: 3;

    img {
        transition: filter 500ms;

        &:hover {
            cursor: pointer;
            transition: filter 1s;
            filter: drop-shadow(0px 0px 30px #fe14ff);
        }
    }
}